Package: mx-alerts-dbgsym
Source: mx-alerts
Version: 0.19.7
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Adrian <adrian@mxlinux.org>
Installed-Size: 588
Depends: mx-alerts (= 0.19.7)
Section: debug
Priority: optional
Description: debug symbols for mx-alerts
Build-Ids: 9e01bfd3f60b747cf7b3463ab13fa05bb3af1432
